.App {
  font-family: sans-serif;
  text-align: center;

}
.btnContainer{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 250px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
.btnYes{
  margin-left: 25px;
  border-radius: 12px;
  border: 2px solid black;
}
.btnYes:hover {
  background-color: #f44336;
}
.btnNo:hover {
  background-color: #ada2a2;
}
.btnNo{
  margin-right: 25px;
  border-radius: 12px;
  border: 2px solid black;
}
.msgText{
  display: flex;
  align-items: center;
  justify-content: center
}